.flex-item h1 {
    display: flex;
    justify-content: center;
 color: #377A47;
 text-align: center;
 border-style: solid;
 background-color: #9DE0AD;
 border-bottom: 6px solid #6AAD7A;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 padding: 10px;
 margin: 0;
}

.flex-item h2 {
    display: flex;
    justify-content: center;
 color: #377A47;
 text-align: center;
 border-style: solid;
 background-color: #9DE0AD;
 border-bottom: 6px solid #6AAD7A;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 padding: 10px;
 margin: 0;
}

.flex-parent {
}

.flex-item {
    width: 50%;
    padding: .5em;
    font-size: 24px;
    color: #082D34;
    font-weight: bold;
    background: #45ADA8;
    margin: 0;
    border-left: 5px solid #127A75;
    align-items: center;
    justify-content: center;
}

  .container {
    width: min(95%, 45rem);
    margin: 0 auto;
  }

/** New CSS **/

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #FFF7E5;
}

header {
  background: #033649;
  height: 100px;
  border-bottom: solid 4px #003231;
  color: #FFF7E5;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: #036564;
  border-bottom: solid 4px #004C4B;
  color: #FFF7E5;
}

article h2 {
    padding-top: 0px;
    margin-top: 0px;
}

article #kevinsMind {
    font-size: 24px;
    background: #FFF7E5;
    color: #036564;
    border-bottom: 4px solid #CCC4B2;
    padding: .5em;
}

article input {
    width: 47.75%;
    color: #036564;
    padding: .5em;
    font-size: 20px;
    font-weight: bold;
    background: #FFF7E5;
    border: 0;
    margin: 0;
    display: inline-block;
}

article button.one {

    color: #036564;
    padding: .5em;
    font-size: 20px;
    font-weight: bold;
    background: #FFF7E5;
    border: 0;
    margin: 0;
    display: inline-block;
}

article button.two {
    width: 25%;
    color: #036564;
    padding: .5em;
    font-size: 20px;
    font-weight: bold;
    background: #FFF7E5;
    border: 0;
    margin: 0;
    display: inline-block;
}

#panel {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background-color: #9DE0AD;
  color: #377A47;
  border-bottom: solid 4px #6AAD7A;
  margin: auto;
}

#panel {
  display: none;
}

#panel2 {
    font-size: 24px;
    background: #FFF7E5;
    color: #036564;
    border-bottom: 4px solid #CCC4B2;
    padding: .5em;
}

#panel3 {
    font-size: 24px;
    background: #FFF7E5;
    color: #036564;
    border-bottom: 4px solid #CCC4B2;
    padding: .5em;
}

/* Add your flexbox CSS below here */

section {
  display: flex;
}

article {
  flex: 1 200px;
}

article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}

article:nth-of-type(3) div:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  flex: 1 auto;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;
}
