body {
  background-color: #BADFE6;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  padding: 0px;
  margin: 0px;
}

#panel, .flip {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background-color: #9DE0AD;
  color: #377A47;
  border: solid 1px #6AAD7A;
  margin: auto;
}

#panel {
  display: none;
}

#panel2 {
    display: none;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: #9DE0AD;
    color: #377A47;
    border: solid 1px #6AAD7A;
    margin: auto;
}

#panel3 {
    display: none;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: #9DE0AD;
    color: #377A47;
    border: solid 1px #6AAD7A;
    margin: auto;
}

 .flex-item h1 {
  display: flex;
  flex-flow: flex-direction flex-wrap;
  color: #377A47;
  text-align: center;
  border-style: solid;
  background-color: #9DE0AD;
  border-bottom: 6px solid #6AAD7A;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
  margin: 0px;
}

.flex-parent {

/*   display: flex; */
}

.flex-item {
  margin: 0 auto;
  width: 50%;
  padding: .5em;
  font-size: 24px;
  color: #082D34;
  font-weight: bold;
  background: #45ADA8;
  margin: 0;
  border-left: 5px solid #127A75;
}

  .flex-item input {
    width: 10%;
    padding: .5em;
    margin-top: 5px;
    font-size: 25px;
  }

  .flex-item button {
    padding: .5em;
    font-size: 20px;
    font-style: italic;
    width: 40%;
  }

  .container {
    width: min(95%, 45rem);
    margin: 0 auto;
  }
